@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    block-size: 100%;
  }
  body {
    min-block-size: 100%;
    display: grid;
    place-content: center;
    background: var(--bg-primary);
    color: var(--color-primary);
  }
  :root {
    --bg-primary: #ade2dc;
    --bg-board-cell: #379591;
    --bg-board-cell-light: #214e4e;
    --bg-feedback: #2a7775;
    --bg-button: #2a7775;

    --color-primary: #379591;
    --color-secondary: white;
  }
}
